<%- include ("../layout/navbar.ejs") %>

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <main class="container mx-auto px-6 py-6">
      <h1 class="text-3xl font-medium text-center text-gray-800 mb-4">
        Prodotti
      </h1>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <% data.forEach((data)=> { %>
        <div class="bg-white rounded shadow-md shadow-2xl border border-black">
          <img
            class="w-full h-auto object-cover object-center"
            src="<%- data.immagine %>"
            alt="<%- data.titolo %>"
          />
          <div class="p-4">
            <h2 class="text-lg font-medium text-gray-800">
              <%- data.titolo %>
            </h2>
            <p class="text-sm text-gray-600"><%- data.descrizione %></p>
            <div class="flex items-center justify-between">
              <% if(data.prezzoScontato != null){ %>
              <p class="text-lg font-medium text-red-600">
                <%- data.prezzoScontato %> €
              </p>
              <p class="text-lg font-medium text-gray-800 text-opacity-60">
                Prima era:
                <span class="line-through"><%- data.prezzo %> €</span>
              </p>

              <% } else{ %>
              <p class="text-lg font-medium text-gray-800">
                <%- data.prezzo %> €
              </p>
              <% } %>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </main>

    <%- include ("../layout/footer.ejs") %>
  </body>
</html>
